name: Build and Publish Dev Package

on:
  push:
    branches:
      - develop
    paths-ignore:
      - package.json

jobs:
  publish:
    uses: ./.github/workflows/publish.yml
    with:
      environment: dev
      npm_tag: dev
    secrets: inherit
