name: Build and Publish Production Package

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version to publish (e.g. 0.1.0)"
        required: true
        type: string

jobs:
  publish:
    uses: ./.github/workflows/publish.yml
    with:
      environment: production
      version: ${{ inputs.version }}
      npm_tag: ${{ contains(inputs.version, 'alpha') || contains(inputs.version, 'beta') || contains(inputs.version, 'rc') && 'beta' || 'latest' }}
    secrets: inherit
