name: Build and Publish Staging Package

on:
  push:
    branches:
      - staging
    paths-ignore:
      - package.json

jobs:
  publish:
    uses: ./.github/workflows/publish.yml
    with:
      environment: staging
      npm_tag: staging
    secrets: inherit
